<p style="color: green"><%= notice %></p>

<%= render @mining_type %>

<div>
  <%= link_to t("edit.mining_type"), edit_mining_type_path(@mining_type), class:"btn btn-primary" %> |
  <%= link_to t("links.back"), mining_types_path, class:"btn btn-primary" %>
  <br><br>
  <%= button_to t("delete.mining_type"), @mining_type, method: :delete, class:"btn btn-primary" %>
</div>
