<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to t("edit.coin"), edit_coin_path(@coin), class:"btn btn-primary" %> |
  <%= link_to t("links.back"), coins_path, class:"btn btn-primary" %>
  <br><br>
  <%= button_to t("delete.coin"), @coin, method: :delete, class:"btn btn-primary" %>
</div>

